version: "3.8"
services:
  reverse-proxy:
    image: nginx
    container_name: ids
    ports:
      - 8888:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
  ids-backend:
    image: "cyosp/ids-backend:4.2.2"
    container_name: ids-backend
    volumes:
      - /path/to/data/folder:/data
      - /path/to/shared-images/folder:/shared-images
  ids-frontend:
    image: "cyosp/ids-frontend:5.3.0"
    container_name: ids-frontend
    environment:
      BACKEND_LOCATION: "http://localhost:8888"
      SHARING_TITLE: "My custom sharing title"
      DIRECTORY_REVERSED_ORDER: "true"
      PREVIEW_DIRECTORY_REVERSED_ORDER: "false"
      MIX_DIRECTORIES_AND_IMAGES: "false"
